<a href="https://colab.research.google.com/github/Rahul-71/BackOrderPrediction/blob/main/BackOrder_Prediction_iNeuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
from warnings import filterwarnings
filterwarnings(action='ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE

In [73]:
df = pd.read_csv('/content/drive/MyDrive/AAIC/DATASET/BackOrder_Internship/Kaggle_Training_Dataset_v2.csv')

In [74]:
df.shape

(1687861, 23)

In [75]:
df.head()

       sku  national_inv  lead_time  ...  stop_auto_buy  rev_stop  went_on_backorder
0  1026827           0.0        NaN  ...            Yes        No                 No
1  1043384           2.0        9.0  ...            Yes        No                 No
2  1043696           2.0        NaN  ...            Yes        No                 No
3  1043852           7.0        8.0  ...            Yes        No                 No
4  1044048           8.0        NaN  ...            Yes        No                 No

[5 rows x 23 columns]

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687861 entries, 0 to 1687860
Data columns (total 23 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   sku                1687861 non-null  object
 1   national_inv       1687860 non-null  float64
 2   lead_time          1586967 non-null  float64
 3   in_transit_qty     1687860 non-null  float64
 4   forecast_3_month   1687860 non-null  float64
 5   forecast_6_month   1687860 non-null  float64
 6   forecast_9_month   1687860 non-null  float64
 7   sales_1_month      1687860 non-null  float64
 8   sales_3_month      1687860 non-null  float64
 9   sales_6_month      1687860 non-null  float64
 10  sales_9_month      1687860 non-null  float64
 11  min_bank           1687860 non-null  float64
 12  potential_issue    1687860 non-null  object
 13  pieces_past_due    1687860 non-null  float64
 14  perf_6_month_avg   1687860 non-null  float64
 15  perf_12_month_avg  1687860 non-null  float64
 16  local_bo_qty       1687860 non-null  float64
 17  deck_risk          1687860 non-null  object
 18  oe_constraint      1687860 non-null  object
 19  ppap_risk          1687860 non-null  object
 20  stop_auto_buy      1687860 non-null  object
 21  rev_stop           1687860 non-null  object
 22  went_on_backorder  1687860 non-null  object
dtypes: float64(15), object(8)
memory usage: 296.2+ MB

In [77]:
df.tail()

                    sku  national_inv  ...  rev_stop  went_on_backorder
1687856         1373987          -1.0  ...        No                 No
1687857         1524346          -1.0  ...        No                Yes
1687858         1439563          62.0  ...        No                 No
1687859         1502009          19.0  ...        No                 No
1687860  (1687860 rows)           NaN  ...       NaN                NaN

[5 rows x 23 columns]

* Last rows contains all the null values, it doesn't add any value to the dataset. So, dropping this row from the dataset.

In [78]:
df.describe()

       national_inv     lead_time  ...  perf_12_month_avg  local_bo_qty
count  1.687860e+06  1.586967e+06  ...       1.687860e+06  1.687860e+06
mean   4.961118e+02  7.872267e+00  ...      -6.437947e+00  6.264507e-01
std    2.961523e+04  7.056024e+00  ...       2.584333e+01  3.372224e+01
min   -2.725600e+04  0.000000e+00  ...      -9.900000e+01  0.000000e+00
25%    4.000000e+00  4.000000e+00  ...       6.600000e-01  0.000000e+00
50%    1.500000e+01  8.000000e+00  ...       8.100000e-01  0.000000e+00
75%    8.000000e+01  9.000000e+00  ...       9.500000e-01  0.000000e+00
max    1.233440e+07  5.200000e+01  ...       1.000000e+00  1.253000e+04

[8 rows x 15 columns]

* By this we can see that, numerical values are of different scales, which is not good for any machine learning algorithms. So, need to perform standard scaling before applying any algorithm.

In [79]:
df.describe(include=['O'])

            sku potential_issue  ... rev_stop went_on_backorder
count   1687861         1687860  ...  1687860           1687860
unique  1687861               2  ...        2                 2
top     3272643              No  ...       No                No
freq          1         1686953  ...  1687129           1676567

[4 rows x 8 columns]

* `sku` has all unique values, so it can be removed. Since it can be any id for rows
* all other non-numerical columns has 2 distinct values(YES/NO), which can be binary encoded (ie. can be converted into 1 & 0 )

In [80]:
df.isna().sum()/df.shape[0] * 100

sku                  0.000000
national_inv         0.000059
lead_time            5.977625
in_transit_qty       0.000059
forecast_3_month     0.000059
forecast_6_month     0.000059
forecast_9_month     0.000059
sales_1_month        0.000059
sales_3_month        0.000059
sales_6_month        0.000059
sales_9_month        0.000059
min_bank             0.000059
potential_issue      0.000059
pieces_past_due      0.000059
perf_6_month_avg     0.000059
perf_12_month_avg    0.000059
local_bo_qty         0.000059
deck_risk            0.000059
oe_constraint        0.000059
ppap_risk            0.000059
stop_auto_buy        0.000059
rev_stop             0.000059
went_on_backorder    0.000059
dtype: float64

* Around 6% of the `lead_time` values are `null`, which can be imputed by the mean of `lead_time` or by replacing `null` from 0

<h3> DATA CLEANING

In [81]:
# removing the last row of the dataset
df = df.iloc[:-1,:]

In [82]:
# removing the sku feature, since its not adding any value to the dataset
df.drop(['sku'],axis=1, inplace=True)
df.columns

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder'],
      dtype='object')

In [83]:
df[df.select_dtypes(include=['O']).columns] = df[df.select_dtypes(include=['O']).columns].applymap(lambda x: 0 if x=='No' else 1)

In [89]:
df.fillna(value=df.lead_time.median(), inplace=True)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687860 entries, 0 to 1687859
Data columns (total 22 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   national_inv       1687860 non-null  float64
 1   lead_time          1687860 non-null  float64
 2   in_transit_qty     1687860 non-null  float64
 3   forecast_3_month   1687860 non-null  float64
 4   forecast_6_month   1687860 non-null  float64
 5   forecast_9_month   1687860 non-null  float64
 6   sales_1_month      1687860 non-null  float64
 7   sales_3_month      1687860 non-null  float64
 8   sales_6_month      1687860 non-null  float64
 9   sales_9_month      1687860 non-null  float64
 10  min_bank           1687860 non-null  float64
 11  potential_issue    1687860 non-null  int64
 12  pieces_past_due    1687860 non-null  float64
 13  perf_6_month_avg   1687860 non-null  float64
 14  perf_12_month_avg  1687860 non-null  float64
 15  local_bo_qty       1687860 non-null  float64
 16  deck_risk          1687860 non-null  int64
 17  oe_constraint      1687860 non-null  int64
 18  ppap_risk          1687860 non-null  int64
 19  stop_auto_buy      1687860 non-null  int64
 20  rev_stop           1687860 non-null  int64
 21  went_on_backorder  1687860 non-null  int64
dtypes: float64(15), int64(7)
memory usage: 283.3 MB